@model IEnumerable<ffrs.mvc.Models.Contacto>

@{
    ViewData["title"] = "Listado";
    var count = 1;
}
<div class="row">
    <div class="col align-self-start">
        <h5>Listado de miembros voluntarios</h5>
    </div>
    <div class="col align-self-end btn-sm">
        <a asp-controller="Test" asp-action="Register" class="btn btn-primary btn-sm"><i class="fa fa-plus-square"></i> Nuevo</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <caption>Total de miembros registrados: @Model.Count()</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Cedula</th>
                <th scope="col">Sexo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@Html.DisplayFor(modelItem => item.Nombres)</td>
                    <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cedula)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                    <td>
                        <a asp-controller="Test" asp-action="Register" asp-for="@item.Id"><i class="fa fa-eye"></i></a>
                        <a asp-controller="Test" asp-action="Register" asp-for="@item.Id"><i class="fa fa-edit"></i></a>
                        <a asp-controller="Test" asp-action="Register" asp-for="@item.Id"><i class="fa fa-trash-alt"></i></a>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>